body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
  min-height: 800px;
  background-color: #022B3A;
  background: linear-gradient(to bottom right, #000000, #024861);
}

html{
  background: #022B3A;
}
main{
  padding-top: 80px; /* Adjust based on header height */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  border-radius: 14px;
  background: linear-gradient(to bottom right, #ffffff, #7ce2fc);
  padding: 1.5rem;
  width: 80%;
  margin: 1.5rem auto;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  color: #045876;
  font-size: 16px;
  align-items: center;
}

header{
  background: linear-gradient(to bottom right, #024861, #218397);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

h1{
  color: #DEF3F8;
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  font-weight: 750;
}

h3{
  color: #024861;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

p{
  color: #045876;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 16px;
}

button {
  border-width: 0px;
  border-style: none;
  background: linear-gradient(to bottom right, #045876, #218397);
  padding: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, bold;
  font-size: medium;
  color: #DEF3F8;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 4px 20px rgba(2, 72, 97, 0.4);

}

button:hover {
  background: linear-gradient(to bottom right, #52b1c4, #218397);
  color: #022B3A;
  box-shadow: none;
}

input{
  border: 0px solid #52b1c4;
  font-size: 16px;
  border-radius: 30px;
  color:#218397;
  padding: 14px;
  background-color: #e3faff;
  box-shadow: 0 4px 20px rgba(4, 88, 118, 0.4);
}

#newtask::placeholder{
  color: #218397;
  box-sizing: 14px;
}

#siteInput::placeholder{
  color: #218397;
  box-sizing: 14px;
}

input[type="checkbox"] {
  accent-color: #218397;
}

.wider{
  width: 300px;
  color: #218397;
  box-sizing: 14px;
}

label{
  color: #045876;
  font-size: 16px;
}

.wishlist{
  color: #045876;
  font-size: 16px;
  font-weight: 600;
}

.title-bar {
  display: flex;
  align-items: center;        /* Vertically center image and text */
  justify-content: center;    /* Horizontally center entire bar */
  gap: 12px;                  /* Space between image and text */
  padding: 0px;
}

img{
  border-radius: 7px;
  size:48px;
}

.list{
  width: 80%;
  text-align: left;
  background: linear-gradient(to bottom right, #8ee4fa ,#baf1ff);
  border-radius: 30px;
  padding: 15px;
  margin-left: 6%;
  border: 0px solid #52b1c4;
  box-shadow: 0 7px 15px rgba(8, 141, 189, 0.6);
}

.popup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 250px;
  padding: 2rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #024861, #022B3A);
  box-shadow: 0 7px 30px rgba(0, 0, 0, 1);
  text-align: center;
}

.popuph3 {
  color:#DEF3F8;
}

.popupbtn-yes{
  width:200px;
  font-size: 18px;
  background: linear-gradient(to bottom right, #ffffff, #7ce2fc);
  color: #024861;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.popupbtn-no{
  width:200px;
  font-size: 18px;
  background: linear-gradient(to bottom right, #ffffff, #7ce2fc);
  color: #024861;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
} 

.popupbtn-yes:hover{
  width:200px;
  background: linear-gradient(to bottom right, #eb3892, #c40665);
  color: #DEF3F8;
}

.popupbtn-no:hover{
  width:200px;
  background: linear-gradient(to bottom right, #37cfe3, #03a9bc);
  color: #DEF3F8;
}

.overlay {
  position: fixed;
  top: 78px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(218, 242, 247, 0.4); /* black with 40% opacity */
  z-index: 999; /* just under popup */
}

.scrollSitesbtn{
  width:150px;
}

.popuptext{
  color: #baf1ff;
  font-weight: 400;
}
